@import "bourbon/bourbon";



@font-face { font-family: Mohave; src: url('../fonts/Mohave.otf'); } 
@font-face { font-family: adamcg; src: url('../fonts/adamcg.otf'); } 
@font-face { font-family: nevis; src: url('../fonts/nevis.ttf'); } 
@font-face { font-family: Anson; src: url('../fonts/anson-regular-webfont.ttf'); } 




html, body{
	height: 100%;
}

.mycontainer{
	width: 100%;
}



h1,h2,h3,h4,h5,h6{
	text-align: center;
	color: #191919;
	// font-family: Anson, sans-serif;
	// font-family: Motserrat, sans-serif;
	// font-family: 'Playfair-Display',  serif;
	// font-family: 'Mohave', sans-serif;
	// font-family: 'adamcg', sans-serif;
	// font-family: 'nevis', sans-serif;
	// font-family: 'Open-Sans', sans-serif;
	font-family: 'Lato', sans-serif;

}

body{
	background: #EFEFEF;
	// font-family: 'Playfair-Display',  serif;
	font-family: 'Quattrocento', serif;
	font-size: 16px;
}

h1{
	font-size: 60px;
	font-size: 70px;
	font-weight: 700;
	text-transform: capitalize;
	letter-spacing: 8px;
}

h2{
	font-size: 40px;
}

.intro{
	text-align: center;
}



.portfoliobox{
	max-height: 275px;
	margin: auto;
	text-align: center;
	height: 275px;
	width: 275px;
	background: darkblue;
	@include transition(.3s ease);
	&:hover{
		// background: tomato;
		max-height: 0px;
		top: 100px;
		@include transition(.8s ease);
	}
	
}