@import "bourbon/bourbon";
@import "mixins";

// ---------------------------GENERAL RULES-----------------------------

$footer-height: 100px;

html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	color: #191919;
	background: #eee;
	font-family: 'Quattrocento', serif;
	font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
	text-align: center;
	color: #191919;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
}

.page-wrapper {
	position: relative;
	min-height: 100%;
}

.main-content {
	text-align: center;
	max-width: 800px;
	padding-bottom: $footer-height;
	margin: auto;
}


h1 {
	font-size: 50px;
	@include phone{
		font-size: 70px;
	}
	font-weight: 300;
	text-transform: capitalize;
	letter-spacing: 2px;
	padding: 0;
	margin: 0;
}

h2 {
	font-size: 25px;
	@include phone{
		font-size: 30px;
	}
	margin-bottom: 20px;
}

.weak-gray {
	color: #999;
	font-style: italic;
}

a {
	color: #191919;
	text-decoration: underline;
}


p {
	text-align: left;
	span {
		position: relative;
		left: 30px;
	}
}

footer {
	border-top: 1px solid #222;
	height: $footer-height;
	position: absolute;
	bottom: 0;
	width: 100%;
	.social-icons {
		display: flex;
		height: 100%;
		max-width: 400px;
		margin: auto;
		justify-content: space-between;
		align-items: center;
	}
	a {
		font-size: 40px;
		i {
			@include transition(.2s ease);
			height: 40px;
			// width: 33.33333333333%;
			text-align: center;
			&:hover{
				color: black;
				@include transform(scale(1.1));
				@include transition(.6 ease);
			}
		}
	}
}



