$smallphone: "(max-width: 560px)";
$phone: "(min-width: 561px)";
$tablet: "(min-width: 768px)";
$desktop: "(min-width: 992px)";
$largedesktop: "(min-width: 1200px)";

// ------------------------Mixins-----------------------------
@mixin smallphone {
	@media #{$smallphone} {
		@content;
	}
}

@mixin phone {
	@media #{$phone} {
		@content;
	}
}

@mixin tablet {
	@media #{$tablet} {
		@content;
	}
}

@mixin desktop {
	@media #{$desktop} {
		@content;
	}
}

@mixin largedesktop {
	@media #{$largedesktop} {
		@content; 
	}
}

@mixin phoneOnly{
	@media #{$phoneOnly} {
		@content;
	}
}

@mixin tabletOnly{
	@media #{$tabletOnly} {
		@content;
	}
}
